<!DOCTYPE html>
<html>
<head>
	<title>Loan Prediction</title>
</head>
<body>
	<h1>Loan Prediction</h1>

	<form method="POST" action="{{ url_for('predict') }}">
		<label>Gender:</label>
		<select name="gender">
			<option value="Male">Male</option>
			<option value="Female">Female</option>
		</select>
		<br><br>

		<label>Married:</label>
		<select name="married">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
		<br><br>

		<label>Dependents:</label>
		<input type="number" name="dependents" value="0">
		<br><br>

		<label>Education:</label>
		<select name="education">
			<option value="Graduate">Graduate</option>
			<option value="Not Graduate">Not Graduate</option>
		</select>
		<br><br>

		<label>Self Employed:</label>
		<select name="self_employed">
			<option value="Yes">Yes</option>
			<option value="No">No</option>
		</select>
		<br><br>

		<label>Applicant Income:</label>
		<input type="number" name="applicant_income" value="0">
		<br><br>

		<label>Coapplicant Income:</label>
		<input type="number" name="coapplicant_income" value="0">
		<br><br>

		<label>Loan Amount:</label>
		<input type="number" name="loan_amount" value="0">
		<br><br>

		<label>Loan Amount Term:</label>
		<input type="number" name="loan_amount_term" value="0">
		<br><br>

		<label>Credit History:</label>
		<input type="number" name="credit_history" value="0">
		<br><br>

		<label>Property Area:</label>
		<select name="property_area">
			<option value="Urban">Urban</option>
			<option value="Rural">Rural</option>
			<option value="Semiurban">Semiurban</option>
		</select>
		<br><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>
